body {
	background-color: #f9f9fa;
	font-family: "Roboto", sans-seriff;
	width: 254px;
	height: 120px;
	padding: 4px;
}

body h1 {
	text-align: center;
	color: #ffffff;
	background-color: #2a2a2e;
}

.action {
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
}

.action:hover {
	background-color: white;
}