body {
	background-color: #536878;
	font-family: "Roboto", sans-seriff;
	width: 254px;
	height: 120px;
	padding: 4px;
}

body h1 {
	text-align: center;
	color: #fadfad;
}

.action {
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
}

.action:hover {
	background-color: white;
}